<!-- Fly-in navbar -->
<div class="nav-wrapper" id="navcontainer">
 <div class="navbar navbar-inverse navbar-static-top" id="nav" data-spy="affix">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div>
       <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li><a href="#top"><img src="img/exislogowhite.png" /></a></li>
           <li><a href="about.html">about us</a></li>
           <li><a href="http://docs.exis.io">docs</a></li>
           <li><a href="http://docs.exis.io/#/pages/tour/regcall-lesson1.md">tour</a></li>
           <li><a href="/blog/">blog</a></li>
           <li><a href="/swift/">swift</a></li>
           <li>
             <div class="btn-group">
               <a id='sign-up-header-index' class='clickable' href="https://my.exis.io/">
                 <button type="button" class="btn btn-primary">
                   My Exis
                 </button>
               </a>
             </div>
           </li>
         </ul>
       </div><!--/.nav-collapse -->
     </div><!--/.container -->
 </div><!--/.navbar -->
</div><!--/.navcontainer -->
